# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/test

# misc
.DS_Store
*.env
*.env.production
/client/*.env.local
/client/*.env.development
/client/*.env.test.local
/client/*.env.production
/client/*.env
truffle-config.js
*.secret

npm-debug.log*
yarn-debug.log*
yarn-error.log*
